{
    attributes = (
        {
            columnName = "CPA_KEY"; 
            externalType = NUMBER; 
            name = cpaKey; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = "CPASC_KEY"; 
            externalType = NUMBER; 
            name = cpascKey; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = "SAL_NUMERO"; 
            externalType = NUMBER; 
            name = salNumero; 
            valueClassName = NSNumber; 
            valueType = i; 
        }
    ); 
    attributesUsedForLocking = (cpaKey, cpascKey, salNumero); 
    className = "org.cocktail.superplan.server.metier.CtrlParamApSalleChoix"; 
    classProperties = (ctrlParamAp, salle); 
    externalName = "EDTSCOL.CTRL_PARAM_AP_SALLE_CHOIX"; 
    fetchSpecificationDictionary = {}; 
    internalInfo = {
        "_clientClassPropertyNames" = (ctrlParamAp, salle); 
        "_javaClientClassName" = "org.cocktail.superplan.client.metier.CtrlParamApSalleChoix"; 
    }; 
    name = CtrlParamApSalleChoix; 
    primaryKeyAttributes = (cpascKey); 
    relationships = (
        {
            destination = CtrlParamAp; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = cpaKey; sourceAttribute = cpaKey; }); 
            name = ctrlParamAp; 
        }, 
        {
            deleteRule = EODeleteRuleNoAction; 
            destination = Salles; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = salNumero; sourceAttribute = salNumero; }); 
            name = salle; 
        }
    ); 
}
