{
    attributes = (
        {
            allowsNull = Y; 
            columnName = "PARAM_COMMENTAIRES"; 
            externalType = VARCHAR2; 
            name = paramCommentaires; 
            valueClassName = NSString; 
            valueType = S; 
            width = 500; 
        }, 
        {
            allowsNull = Y; 
            columnName = "PARAM_KEY"; 
            externalType = VARCHAR2; 
            name = paramKey; 
            valueClassName = NSString; 
            valueType = S; 
            width = 2000; 
        }, 
        {
            columnName = "PARAM_ORDRE"; 
            externalType = NUMBER; 
            name = paramOrdre; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = Y; 
            columnName = "PARAM_VALUE"; 
            externalType = VARCHAR2; 
            name = paramValue; 
            valueClassName = NSString; 
            valueType = S; 
            width = 2000; 
        }
    ); 
    attributesUsedForLocking = (paramCommentaires, paramKey, paramOrdre, paramValue); 
    className = "org.cocktail.superplan.server.metier.GrhumParametres"; 
    classProperties = (paramCommentaires, paramKey, paramValue); 
    externalName = "GRHUM.GRHUM_PARAMETRES"; 
    fetchSpecificationDictionary = {}; 
    internalInfo = {
        "_clientClassPropertyNames" = (paramCommentaires, paramKey, paramValue); 
        "_javaClientClassName" = "org.cocktail.superplan.client.metier.GrhumParametres"; 
    }; 
    name = GrhumParametres; 
    primaryKeyAttributes = (paramOrdre); 
    userInfo = {fetchSpecificationDictionary = {}; }; 
}
