{
    attributes = (
        {
            columnName = "FANN_KEY"; 
            externalType = NUMBER; 
            name = fannKey; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = "MBEC_TYPE"; 
            externalType = VARCHAR2; 
            name = mbecType; 
            valueClassName = NSString; 
            valueType = S; 
            width = 1; 
        }, 
        {
            columnName = "MEC_KEY"; 
            externalType = NUMBER; 
            name = mecKey; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = Y; 
            columnName = "PERS_ID"; 
            externalType = NUMBER; 
            name = persId; 
            valueClassName = NSNumber; 
            valueType = i; 
        }
    ); 
    attributesUsedForLocking = (fannKey, mbecType, mecKey, persId); 
    className = "org.cocktail.superplan.server.metier.MaquetteResponsableEc"; 
    classProperties = (fannKey, maquetteEc, mbecType, persId); 
    externalName = "SCOLARITE.SCOL_MAQUETTE_RESPONSABLE_EC"; 
    fetchSpecificationDictionary = {}; 
    internalInfo = {
        "_clientClassPropertyNames" = (fannKey, maquetteEc, mbecType, persId); 
        "_javaClientClassName" = "org.cocktail.superplan.client.metier.MaquetteResponsableEc"; 
    }; 
    name = MaquetteResponsableEc; 
    primaryKeyAttributes = (mecKey, persId); 
    relationships = (
        {
            destination = MaquetteEc; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = mecKey; sourceAttribute = mecKey; }); 
            name = maquetteEc; 
        }
    ); 
    userInfo = {fetchSpecificationDictionary = {}; }; 
}
