{
    attributes = (
        {
            columnName = "HCOMP_REC"; 
            externalType = NUMBER; 
            name = hcompRec; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = "NO_INDIVIDU"; 
            externalType = NUMBER; 
            name = noIndividu; 
            precision = 8; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = "OCC_KEY"; 
            externalType = NUMBER; 
            name = occKey; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = "RESA_KEY"; 
            externalType = NUMBER; 
            name = resaKey; 
            valueClassName = NSNumber; 
            valueType = i; 
        }
    ); 
    attributesUsedForLocking = (hcompRec, noIndividu, occKey, resaKey); 
    className = "org.cocktail.superplan.server.metier.Occupant"; 
    classProperties = (hcompRec, individu, reservation); 
    externalName = "EDTSCOL.OCCUPANT"; 
    fetchSpecificationDictionary = {}; 
    internalInfo = {
        "_clientClassPropertyNames" = (hcompRec, individu, reservation); 
        "_javaClientClassName" = "org.cocktail.superplan.client.metier.Occupant"; 
    }; 
    name = Occupant; 
    primaryKeyAttributes = (occKey); 
    relationships = (
        {
            deleteRule = EODeleteRuleNoAction; 
            destination = IndividuUlr; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = noIndividu; sourceAttribute = noIndividu; }); 
            name = individu; 
        }, 
        {
            deleteRule = EODeleteRuleNoAction; 
            destination = Reservation; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = resaKey; sourceAttribute = resaKey; }); 
            name = reservation; 
        }
    ); 
    userInfo = {fetchSpecificationDictionary = {}; }; 
}
