{
    attributes = (
        {
            columnName = "MAP_KEY"; 
            externalType = NUMBER; 
            name = mapKey; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = "NO_INDIVIDU"; 
            externalType = NUMBER; 
            name = noIndividu; 
            precision = 8; 
            valueClassName = NSNumber; 
            valueType = i; 
        }
    ); 
    attributesUsedForLocking = (mapKey, noIndividu); 
    className = "org.cocktail.superplan.server.metier.VIntervenantAp"; 
    classProperties = (mapKey, noIndividu, maquetteAp, individuUlr); 
    externalName = "EDTSCOL.V_INTERVENANT_AP"; 
    fetchSpecificationDictionary = {}; 
    internalInfo = {
        "_clientClassPropertyNames" = (noIndividu, mapKey, maquetteAp, individuUlr); 
        "_javaClientClassName" = "org.cocktail.superplan.client.metier.VIntervenantAp"; 
    }; 
    name = VIntervenantAp; 
    primaryKeyAttributes = (mapKey, noIndividu); 
    relationships = (
        {
            destination = IndividuUlr; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = noIndividu; sourceAttribute = noIndividu; }); 
            name = individuUlr; 
        }, 
        {
            destination = MaquetteAp; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = mapKey; sourceAttribute = mapKey; }); 
            name = maquetteAp; 
        }
    ); 
    userInfo = {fetchSpecificationDictionary = {}; }; 
}
