{
    attributes = (
        {
            columnName = "MAP_KEY"; 
            externalType = NUMBER; 
            name = mapKey; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = "MEC_KEY"; 
            externalType = NUMBER; 
            name = mecKey; 
            valueClassName = NSNumber; 
            valueType = i; 
        }
    ); 
    attributesUsedForLocking = (mapKey, mecKey); 
    className = "org.cocktail.superplan.server.metier.VScolMaquetteApEc"; 
    classProperties = (maquetteEc); 
    externalName = "edtscol.v_scol_maquette_ap_ec"; 
    fetchSpecificationDictionary = {}; 
    internalInfo = {
        "_clientClassPropertyNames" = (maquetteEc); 
        "_javaClientClassName" = "org.cocktail.superplan.client.metier.VScolMaquetteApEc"; 
    }; 
    name = VScolMaquetteApEc; 
    primaryKeyAttributes = (mapKey); 
    relationships = (
        {
            destination = MaquetteEc; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = mecKey; sourceAttribute = mecKey; }); 
            name = maquetteEc; 
        }
    ); 
}
