# L'identifiant de l'application. Il peut être utilisé par différents services :
# authentification (SAUT), sauvegarde des documents (GEDFS),...
# Le ID ne doit pas dépassé 10 symboles et il doit être enregistré auprès de serveur concerné.
# Il n'est pas conseille de modifier cette valeur.
APP_ID=EDTSCOL

#* Description courte de l'application. Le même ID pouvant être partagé entre plusieurs 
#* versions de l'application, cette valeur permet de fournir les informations complémentaires
APP_ALIAS=SuperPlan

#* Le URL de service d'authentification. Il permet de récupérer le dictionnaire de connexion a
#* la base de données. Si le service SAUT/ServAut n'est pas disponible dans votre système,
#* mettez ce paramètre en commentaire et renseigner le dictionnaire de connexion
#* directement dans le fichier SuperPlan.eomodeld/index.eomodeld
SAUT_URL=http://apps.univ-lr.fr/cgi-bin/WebObjects/ServAut.woa/wa/

#* Le dictionnaire de translation des identifiants des dictionnaires de connexion à la base de 
#* données. Voir la configuration de serveur SAUT/ServAut, s'il est disponible.
#* Si SAUT_URL n'est pas renseigne, alors cette valeur est ignorée.
SAUT_ID_TRANSLATION=EDTSCOL:EDTSCOLD,GRHUM:GRHUMD

# Utilisation ou non du serveur de planning
UTILISER_SERVEUR_PLANNING=YES

# URL de connexion au serveur de planning par DirectAction
# Overwrite la valeur de GRHUM_PARAMETRES pour les tests...
# En prod commenter cette valeur...
#GRHUM_PLANNING_URL=http://leffe.univ-lr.fr:4858/cgi-bin/WebObjects/ServeurPlanning.woa/wa/

#* Le time zone à utiliser pour l'application, à définir uniquement
#* si on ne veut pas utiliser celui par défaut (de grhum_parametres)
#DEFAULT_TIME_ZONE=Europe/Paris

#* (YES/NO) Utilisation des mails... si NO, aucun mail ne sera envoyé par l'application
#* et les autres paramètres de mail ou les préférences utilisateur de mail seront ignorées
APP_SEND_MAIL=YES

#* (YES/NO) Envoie ou non les mails de création/modification/suppression aux dépositaires
#* de salles ou d'objets (si YES, l'envoi se fait en arrière-plan, sans demande de confirmation
#* d'envoi à l'utilisateur)
APP_SEND_MAIL_DEPOSITAIRES=YES

#* (YES/NO/BOF) Indique s'il faut utiliser le controle d'occupation des APs, pour controler que
#* des APs ne se retrouvent pas en meme temps que d'autres CM, TD ou TP
#* du meme parcours et/ou du parcours commun...
#* auquel cas il faut utiliser les groupes... et voir 2 paramètres plus bas...
#* YES = on contrôle et bloque
#* NO = on ne contrôle rien, tout passe
#* BOF = on contrôle pour avertir l'utilisateur, mais sans bloquer
APP_CONTROLE_APS_OCCUPATION=BOF

#* (YES/NO) Indique s'il faut utiliser le controle d'occupation des etudiants par groupe,
#* pour controler que les étudiants d'un groupe ne soient pas dans un autre groupe déjà réservé.
#* Le controle se fait au niveau de l'individu étudiant si les groupes sont peuplés (ventilés),
#* au niveau des groupes / collection s'ils sont vides.
APP_CONTROLE_GROUPES_OCCUPATION=YES

#* (YES/NO) Indique s'il faut utiliser le controle d'occupation des missions
#* Si YES, on n'autorise pas à réserver une personne en mission, sauf 2 cas particuliers
#* pour lesquels on ne bloque pas :
#*    - si mission de type 'ordre de mission permanent', plus exactement si la mission est d'un
#*      type titre_mission (table TITRE_MISSION) pour lequel le champ TIT_CTRL_DATES est à 0
#*      (qui signifie pas de controle sur les dates)
#*    - si c'est un intervenant extérieur (c_corps = 'IEXT' dans la table MISSION)
#* Si NO, aucun controle, on peut placer une réservation à une personne en mission
APP_CONTROLE_MISSIONS=YES

#* (YES/NO) Indique si on autorise à modifier / supprimer des réservations d'examen quand l'examen
#* est à l'état 3 (Etiquettes). Dans le cheminement normal, on ne devrait pas modifier la
#* réservation, car les dates de l'examen apparaissent sur les étiquettes sorties avant...
APP_AUTORISE_MODIF_EXAMEN_ETAT_3=NO

#* (YES/NO) Réservation des salles par les dépositaires...
#* si NO, les réservations de salle sont autorisées pour tous
#* si YES, seuls les dépositaires sont autorisés à effectuer des réservations sur leurs salles
#* NB: les salles qui n'ont aucun dépositaire défini restent dans tous les cas réservables pour tous
APP_RESERVATION_SALLE_PAR_DEPOSITAIRE=NO

#* (YES/NO) Demande d'un motif (obligatoire) lors de la modification de réservation...
#* si NO, on ne demande rien
#* si YES, on exige la saisie d'un motif (qui sera enregistré) pour valider la modification
#* NB: dans tous les cas, la modification est tracée, avec ou sans motif
APP_EXIGE_MOTIF_MODIFICATION=NO

#* (YES/NO) Demande d'un motif (obligatoire) lors de la suppression de réservation...
#* si NO, on ne demande rien
#* si YES, on exige la saisie d'un motif (qui sera enregistré) pour valider la suppression
#* NB: dans tous les cas, la suppression est tracée, avec ou sans motif
APP_EXIGE_MOTIF_SUPPRESSION=NO

#* (C_STRUCTURE) C_STRUCTURE du groupe de l'annuaire dont les membres ont accès à la consultation
#* des logs d'historisation de l'application
#* NB: tout le monde peut consulter l'historique d'une réservation sur laquelle il a les droits
#* (droit de la modifier ou supprimer)
#* NB2: les personnes de ce groupe peuvent consulter l'historique de n'importe quelle réservation
#* et en plus ouvrir l'outil de consultation des logs de suppression
APP_STRUCTURE_LOGS_HISTORIQUE=25

#* (YES/NO) Limiter l'accès à l'application aux seuls personnels de l'établissement
#* si YES, seuls les personnels peuvent lancer l'application (au sens cptVlan du compte,
#* selon que le compte est identifié sur le réseau administration ou le réseau recherche)
#* si NO, tout le monde peut lancer l'application
APP_LIMITE_ACCES_AU_PERSONNEL=NO

#* (YES/NO) Indique si la fenêtre d'inspecteur doit être modale
#* (càd la seule fenêtre active de l'application quand elle est ouverte)
APP_INSPECTEUR_MODAL=NO

#* (YES/NO) Indique si on doit fermer automatiquement l'inspecteur après validation
#* ou si on le laisse ouvert
APP_INSPECTEUR_AUTO_FERMER=YES

#* (YES/NO) Indique si on autorise à placer des réservations les jours fériés ou non
APP_AUTORISE_RESERVATION_FERIE=NO

#* (C_STRUCTURE) C_STRUCTURE du groupe regroupant les personnes autorisées à gérer les objets
#* (menu Outils, Gestion des objets)
#* les personnes de ce groupe peuvent ajouter/retirer des groupes utilisateurs et groupes dépositaires
#* Pour ajouter / retirer des groupes dépositaires à un objet :
#*   - il faut être membre de ce groupe
#* Pour ajouter / retirer des groupes utilisateurs à un objet, il faut soit : 
#*   - être membre de ce groupe
#*   - être dépositaire de l'objet
STRUCTURE_GESTION_OBJETS=

#* (YES/NO) Limite-t-on l'accès à la gestion des contraintes individus ?
#* Si YES, seuls les responsables ou secrétariats des individus peuvent gérer leurs contraintes
#* (au sens responsable ou secrétariat d'un groupe auquel appartient l'individu).
#* Si NO, tout le monde peut gérer les contraintes de tous les individus.
#* PS: dans tous les cas, l'individu peut gérer ses propres contraintes.
APP_DROITS_SUR_CONTRAINTES_INDIVIDUS=NO

#* Pour les envois de mails, tous les mails sont préfixés dans le sujet par cette chaine
EDT_MAIL_PREFIX=[EDT]

#* Mail pour les tests: tous les mails sont redirigés vers cette adresse
APP_TEST_MAIL=pdm@univ-lr.fr

#* Ceci est un mot de passe "passe-partout" pour l'application SuperPlan, qui permet au niveau
#* du panneau de login d'usurper l'identité de quelqu'un (tapez n'importe quel login avec ce
#* mot de passe et on lance SuperPlan comme si on était cette personne, pratique pour débugger
#* ou voir ce que voit la personne exactement par rapport à ses droits par exemple)... 
#* Pour en générer un nouveau, c'est le crypt unix qui est utilisé.
APP_ADMIN_PASSWORD=azenFFuHwfzk.

DTSAM_EMAIL=dt.superplan@sam.univ-lr.fr

MAQUETTE_PLANNING=SCOL_EDT_DIPLOME_2
MAQUETTE_HCOMP_AP=EDT_HCOMP_AP
MAQUETTE_HCOMP_INDIVIDU=EDT_HCOMP_INDIVIDU
GENERER_XML=NO

# valeurs possibles : VOID, DIPLOME_ABREV,SPECIALISATION_LIB
# pour les utilisateurs d'Apogés avec connecteurs faits à UP
#LIBELLE_DESC_DIPLOME_PATTERN=SPECIALISATION_LIB|VOID
#pour les utilisateurs de Scolarix utiliser le paramétrage suivant :
#LIBELLE_DESC_DIPLOME_PATTERN=DIPLOME_ABREV|SPECIALISATION_LIB

#* important pour les editions avec JasperReport
MAIN_MODEL_NAME=SuperPlan
JDBC_DRIVER_NAME=oracle.jdbc.driver.OracleDriver
JASPER_OCCUPATION_LOT=OccupationsLot.jasper

#* (YES/NO) Affiche ou non les logs SQL (lourd, pour déboguage uniquement)
SQL_DEBUG=YES
